<div class="container d-flex justify-content-between">
  <div class="w-50">
    <div style="margin-top: 100px"></div>
    <p class="mb-5 my-text">
      Conversational <span style="color: rgb(204, 61, 204)">AI</span>
    </p>
    <img style="height: 150px; width: 650px" src="assets/sound.png" />
    <div class="d-flex mt-4 text-center">
      <button [routerLink]="['chatbot']" class="my-btn btn-voicebot">
        Chatbot
      </button>
      <button [routerLink]="['']" class="my-btn btn-chatbot">More</button>
    </div>
  </div>
  <div class="mt-5">
    <img style="height: 550px" src="assets/main.png" />
  </div>
</div>
